/*/obj/Debug/*
/*/bin/Debug/*
/*/obj/Release/*
/*/bin/Release/*
/*/bin/
/*/bin/Debug/
/*/bin/Release/
/*/obj/Debug/TempPE
/*/obj/Debug/
/*/obj/Release/TempPE
/*/obj/Release
*.user
*.suo
*.pdb
/Medidata.Cloud.Edc/connections.config


/log4net/log4net.xml

_ReSharper.Medidata.Cloud.Edc/
.idea/
packages/
Medidata.Cloud.Edc/Img/Thumbs.db
Medidata.Cloud.Edc/Medidata.snk
Medidata.Cloud.Edc/iMedidata_public.txt
Medidata.Cloud.Edc/iMedidata_public.xml
Medidata.Cloud.Edc/appsettings.config
Medidata.Cloud.Edc/connectionStrings.config
_ReSharper.RavePlugins/_ReSharper.RaveWeb/plugins/Medidata.Cloud.Edc/connectionstrings.debug.xml
Medidata.Cloud.Edc/studygroups.debug.xml
Medidata.Cloud.Edc/connectionstrings.debug.xml
Medidata.Cloud.Edc/rave_imedidata_api_private_key.xml
TestResults/
Medidata.Cloud.Edc/CFTemp
Tools/CustomFunctionEngineTestRunner/CustomFunctionEngineTestRunner/bin/
Tools/CustomFunctionEngineTestRunner/CustomFunctionEngineTestRunner/obj/
