<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="zipkinScribeServerName" value="zipkinvm.cloudapp.net" />
  <add key="zipkinScribeServerPort" value="9410" />
  <add key="zipkinServiceName" value="***Service Name Here***" />
  <add key="zipkinSpanProcessorBatchSize" value="10" />
  <add key="zipkinSampleRate" value="0.5" />
  <add key="zipkinNotToBeDisplayedDomainList" value="***Domains Here***" />
  <add key="zipkinExcludedUriList" value="***Excluded Uris Here***" />
</appSettings>