<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <add key="zipkinBaseUri" value="https://zipkin-sandbox.imedidata.net" />
    <add key="zipkinServiceName" value="LocalTestBernie" />
    <add key="zipkinSpanProcessorBatchSize" value="1" />
    <add key="zipkinSampleRate" value="1" />
    <add key="zipkinNotToBeDisplayedDomainList" value=".imedidata.net,.imedidata.com" />
    <add key="zipkinExcludedUriList" value="/app_check_uri, /app_status, /Content/, /Img/, /styles/, /Scripts/, /current_deploy.txt, /AngularModules/" />
</appSettings>