<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <add key="zipkinBaseUri" value="https://localhost" />
    <add key="zipkinServiceName" value="LocalTest" />
    <add key="zipkinSpanProcessorBatchSize" value="1" />
    <add key="zipkinSampleRate" value="1" />
    <add key="zipkinNotToBeDisplayedDomainList" value=".domain.net,.domain.com" />
    <add key="zipkinExcludedUriList" value="/styles/, /Scripts/, /AngularModules/" />
</appSettings>